body {
  text-align: center;
  background-color: lavender;
  font-family: "monospace", "Courier New", Courier;
}

p {
  text-align: justify;
  color: rgb(27, 26, 26);
  font-weight: 500;
}

.jollof-img {
  width: 50%;
}

.col {
  column-count: 2;
  column-rule: dotted 1px gray;
}

li {
  text-align: justify;
}
